#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(230, 126, 34, 0.6);
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

#back-to-top:hover {
    background: #2e6da4;
}

#back-to-top i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}